@use '@/styles/mixin' as *;

.footer {
    padding-inline: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: auto;

    @include tablet {
        padding-inline: 2rem;
    }

    @include mobile {
        padding-inline: 1rem;
        padding-bottom: 1.25rem;
    }
}

.span {
    border-top: 1px solid #222222;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 6rem;
    position: relative;
    padding-top: calc(1rem - 1px);

    @include mobile {
        padding-top: calc(1rem - 0.5px);
        gap: 3rem;
        flex-direction: column-reverse;
        justify-content: center;
        gap: .5rem;
    }

    p {
        font-size: 12px;
        line-height: 1.25;
        color: $text-body;

        @include mobile {
            font-size: 10px;
        }

        @include mobile_sm {
            font-size: 8px;
        }
    }

    .socials {
        display: flex;
        align-items: center;
        gap: .75rem;

        @include mobile {
            gap: .5rem;
        }

        a {
            &:last-child {
                margin-left: -3px;
            }

            svg {
                @include mobile {
                    height: 20px;
                    width: auto;
                }

                @include mobile_sm {
                    height: 18px;
                    width: auto;
                }

                path {
                    fill: $text-body;
                    transition: fill 0.3s ease;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }

}