@use '@/styles/mixin' as *;

.h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: $font-bold;
}

.h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: $font-bold;
}

.h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;

    @include tablet {
        font-size: 20px;
    }
}

.h4 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
}

.h5 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    @include mobile {
        font-size: 13px;
    }
}

.h6 {
    font-size: 8px;
    line-height: 12px;
    font-weight: $font-bold;
}

.p {
    font-size: 16px;
    line-height: 1.5;
}