@use "@/styles/mixin.scss" as *;

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 72px);
    min-height: calc(100dvh - 72px);

    @include mobile {
        min-height: calc(100vh - 77px);
        min-height: calc(100dvh - 77px);
    }
}